@{
    ViewData["Title"] = "Home Page";
}

<style>
    /* From http://stackoverflow.com/a/18839305/390192 */
    .form-control-addon {
        /*position: relative;*/
    }

    .form-control-addon .fa {
        position: absolute;
        padding: 10px;
        pointer-events: none;
    }

    /* align icon */
    .left-addon .fa  { left:  15px; top: 22px; }
    .right-addon .fa { right: 15px; top: 22px; }

    /* add padding  */
    .left-addon input  { padding-left:  30px; }
    .right-addon input { padding-right: 30px; }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="form-group form-control-addon right-addon" style="margin: 1rem 0rem 1rem 0rem;">
            <input id="tagSearchBox" type="text" class="form-control form-control-lg tagSearchBox" placeholder="Search @(ViewBag.TaggedImageCount) tagged images..." />
            <i id="searchSpinner" class="fa fa-cog fast-right-spinner" style="display: none;"></i>
        </div>
        <p id="searchResult"></p>
    </div>
</div>

<div id="resultsRow" class="card-columns" data-bind="foreach: images">
    <div class="card imageBox">
        <div class="card-block" style="padding: .5rem;">
            <img class="card-img-top" style="width: 100%" data-bind="attr: { src: url }" />
            <span data-bind="foreach: tags">
                <span class='tag tag-default tagBadge'>
                    <a class='tagLink' data-bind="text: content, attr: { href: '#' + content }"></a>
                    <span class='tagBadgeLinkContainer'>
                        <a role='button' class='tagBadgeLink' @*onclick='showUpdateTag(this, imageId, item.tagId)'*@ data-bind="click: $parent.toggleShowEditTag"><i class='fa fa-pencil tagBadgeLinkEdit'></i></a>
                        <a role='button' class='tagBadgeLink' data-bind="click: $parent.deleteTag"><i class='fa fa-remove tagBadgeLinkRemove'></i></a>
                    </span>
                </span>
            </span>
            <a role='button' class='addTagLink' data-bind="click: toggleShowNewTag, style: { color: newTagStatusColor }"><i class='fa fa-plus imageAddTagIcon'></i></a>
            <div class='input-group' style="margin-top: .5rem;" data-bind="visible: showNewTag"><input type='text' class='form-control tagBox' placeholder='Enter tags, comma separated.' data-bind="value: newTags, event: { keyup: $parent.newTagKeyUp }" /><span class='input-group-btn'><button class='btn btn-default' type='button' data-bind="click: $parent.submitTags"><i class='fa fa-check'></i></button></span></div>
            <div class='input-group' style="margin-top: .5rem;" data-bind="visible: showEditTag"><input type='text' class='form-control tagBox' placeholder='Enter tags, comma separated.' data-bind="value: editingTag().content, event: { keyup: editTagKeyUp }" /><span class='input-group-btn'><button class='btn btn-default' type='button' data-bind="click: editTag"><i class='fa fa-pencil'></i></button></span></div>
        </div>
    </div>
</div>

<div id="imageTemplate" class="card imageBox" style="display: none;">
    <div class="card-block" style="padding: .5rem;">
        <img class="card-img-top" style="width: 100%;" />
        <span id="imageTagsTemplate"></span>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#tagSearchBox").focus();

        if (window.location.hash.length > 1) {
            $("#tagSearchBox").val(window.location.hash.substr(1));
            doSearch();
        }
    });

    $(window).on('hashchange', function () {
        if (window.location.hash.length > 1) {
            $("#tagSearchBox").val(window.location.hash.substr(1));
            doSearch();
        }
    });

    // http://stackoverflow.com/a/5926782/390192
    var searchTimer;
    var searchDoneInterval = 500;

    $("#tagSearchBox").keyup(function () {
        clearTimeout(searchTimer);
        if ($("#tagSearchBox").val()) {
            searchTimer = setTimeout(doSearch, searchDoneInterval);
        }
    });

    function doSearch() {
        $("#searchSpinner").show();
        var terms = $("#tagSearchBox").val();

        if (terms) {
            viewModel.populateImages(terms);
        }
    }
</script>

<script src="~/js/SearchViewModel.js"></script>
