@using GitHubImageTagger.Core.Models
@{ ViewBag.Title = "Untagged Image Queue"; }

<script>
    function submitTagsOld(imageId) {
        var tags = $("#tagBox" + imageId).val();
        var data = { tags: tags, imageId: imageId };

        $("#tagBox" + imageId).prop('disabled', true);
        $("#tagSubmitBtn" + imageId).prop('disabled', true);

        if (tags !== "") {
            $.ajax("/api/tags", {
                type: "POST",
                data: data,
                success: function (data, status, xhr) {
                    $("#tagSubmitBtn" + imageId).css('color', 'limegreen');
                },
                error: function (xhr, status, error) {
                    console.log("error submitting tags: " + error);
                    $("#tagSubmitBtn" + imageId).css('color', 'red');
                }
            });
        }
    }
</script>

<style>

</style>

<h1 style="margin-top: 1rem; margin-bottom: 1rem;">Here's <span data-bind="text: images().length"></span> untagged images</h1>

<div class="card-columns" data-bind="foreach: images">
    <div class="card imageBox" style="padding: .5rem;">
        <img class="card-img-top" style="width: 100%" data-bind="attr: { src: url }" />
        <div class="input-group" style="margin-top: .5rem;">
            <input type="text" class="form-control tagBox" placeholder="Enter tags, comma separated." data-bind="value: tags, enable: editEnabled" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" data-bind="click: $parent.submitTags, enable: editEnabled, style: { color: updateStatusColor }"><i class="fa fa-check"></i></button>
            </span>
        </div>
    </div>
</div>

<script src="~/js/QueueViewModel.js"></script>
