/* Un-roud all of the corners */
* {
    border-radius: 0 !important;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

.popover {
    max-width: 1000px;
}
.popover-content {
    width: 300px;
}

.tagSearchBox {
    /*margin: 20px 0px 20px 0px;*/
    max-width: 100%;
    /*box-shadow: 0px 0px 10px #ddd;*/
}

.fa.fast-right-spinner {
    -webkit-animation: glyphicon-spin-r 1s infinite linear;
    animation: glyphicon-spin-r 1s infinite linear;
}

@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.imageBox {
    /*height: 350px;*/
    /*width: 370px;*/
    /*border: 1px solid #ddd;*/
    /*margin: 10px;*/
    /*padding: 10px;*/
    /*box-shadow: 0px 0px 10px #ddd;*/
    /*position: relative;*/
}

.imageAddTagIcon {
    top: 3px;
    /*margin-left: 2px;*/
}

.tagBox {
    max-width: 320px;
}

.tagControls {
    /*margin-top: 5px;*/
    /*position: absolute;
    bottom: 0px;*/
}

.tagBadge {
    background-color: #444;
    margin: 2px 2px 0px 0px;
    font-weight: normal;
}
.tagBadge:hover {
    /*background-color: #555;*/
}
.tagBadge:hover .tagBadgeLinkContainer {
    display: inline;
}

.tagBadgeLinkContainer {
    display: none;
}

.tabBadgeLink {
    color: #fff;
}
 
.tabBadgeLinkEdit:hover {
    color: gold;
}

.tabBadgeLinkRemove:hover {
    color: red;
}

.addTagLink {
    color: #0275d8 !important;
}
